.shopping-cart {
    position: fixed;
    top: 80px;
    right: 0;
    height: 60vh;
    width: 0;
    opacity: 0;
    background: $color-white-1;
    box-shadow: $bs-3;
    z-index: 100;
    border-top-left-radius: $bd-3;
    border-bottom-left-radius: $bd-3;
    transition: all 0.3s ease-in-out;
    
    &.show {
        width: 350px;
        opacity: 1;
    }

    .cart-header {
        background: $primary-color;
        height: 50px;
        color: $color-white-1;
        font-size: $fs-5; 
        border-top-left-radius: $bd-3;

        h4 {
            font-size: $fs-5;
            margin: 0;
        }
    }

    .close-cart {
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        background: $color-white-1;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: $bs-3;
        cursor: pointer;

        i {
            color: $color-dark-1;
            font-size: $fs-11;
            line-height: 40px;
        }
    }

    .cart-content {
        // margin-top: 20px;
        padding: 10px 10px 15px 10px;
        overflow-y: scroll;
        height: 70%;
        background: $color-white-1;

        .container {
            padding: 0;
        }

        .cart-item {
            padding: 20px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid $color-dark-3;

            .item-img {
                max-width: 100px;
                padding: 0;
            }

            .item-info {
                padding: 0 10px 0;
                width: 60%;

                .item-name {
                    font-size: $fs-9;
                    font-weight: $fw-2;
                }

                .item-quant {
                    font-size: $fs-3;
                    background: $color-dark-1;

                    .btn-decrease {
                        cursor: pointer;
                        width: 30px;
                        height: 30px;
                        background: $color-dark-2;
                        
                        i {
                            color: $color-white-1;
                        }
                    }

                    .btn-increase {
                        @extend .btn-decrease;
                    }

                    .item-count {
                        color: $color-white-1;
                        line-height: 30px;
                    }
                }
            }

            .item-del {
                
                // border-left: 1px solid $color-dark-3;

                i {
                    color: $color-red;
                    font-size: $fs-3;
                    cursor: pointer;   
                }
            }
        }
    }

    .total-cost {
        padding: 15px;
        background: $color-white-2;
        margin-bottom: 10px;

        span {
            display: block;
            font-size: $fs-3;
        }

        #totalCost {
            color: $primary-color;
            font-weight: $fw-2;
        }
    }

    .checkout {
        .reset-cart {
            padding: 0 10px;
        }

        .checkout-cart {
            padding: 0 10px 0 0;
        }
    }
}