* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    @include styleText($color-dark-1, $fs-1, $fw-1);
    background: $color-white-1;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container {
    max-width: 550px;
}