.banner {
    padding: 80px 0 50px;
    
    .banner-content {
        background: url(../img/banner1.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        position: relative;

        &::after {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgb(0 0 0 / 17%);
        }

        .frame {
            padding: 0 0 0 60%;
        }

        .banner-text {
            padding-top: 40px;
            z-index: 100;
            p {
                color: $color-white-1;
                font-size: $fs-11;
                font-weight: $fw-2;
            }

            .btn-banner {
                border-radius: 20px;
                padding: 8px 15px;
            }
        }
    }
}